<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
  <div class="container">
    <div class="sidebar">
        <a href="/">Home Page</a>
        <a href="books">Books</a>
    </div>
    
    <div class="images">
        <a href="book1"> 
            <img src="images/persepolis.jpg" align="center">
        </a>
        <a href="book2">
            <img src="images/shanameh.jpg" align="center">
        </a>
        <a href="book3">
            <img src="images/blind_owl.jpg" align="center">
        </a>
    </div>
    <div class="links">
        <a href="book1">Persepolis: The Story of a Childhood</a>
        </br></br></br></br></br></br></br></br></br>
        <a href="book2">Shahnameh: The Persian Book of Kings</a>
        </br></br></br></br></br></br></br></br></br>
        <a href="book3">The Blind Owl</a>
    </div>
  </div>
</body>
</html>