<!DOCTYPE html>
<style type="text/css">
    .sidebar {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(29, 80, 131)
    }
    .sidebar a{
        padding: auto;
        text-align: left;
        font-size: 30px;
        color: rgb(0, 0, 0);
        display: block;
    }
    .image {
        margin-left: 200px;
        padding: auto;
    }
    .text {
        margin-left: 200px;
        padding-left: 307px;
    }
</style>
<html>
<body>
    <div class="sidebar">
        <a href="index.html">Home Page</a>
        <a href="book-list.html">Books</a>
        <a href="contact-us.html">Contact Us</a>
        <a href="survey.html">Survey</a>
    </div>
    
    <div class="image">
        <img src="images/persepolis.jpg" align="left" href="persepolis.html"><a href="persepolis.html">Persepolis: The Story of a Childhood</a>
    </div>
    <div class="text">
        <p align="left"> Wise, funny, and heartbreaking, Persepolis is Marjane Satrapi’s memoir of growing up in Iran during the Islamic Revolution. In powerful black-and-white comic strip images, Satrapi tells the story of her life in Tehran from ages six to fourteen, years that saw the overthrow of the Shah’s regime, the triumph of the Islamic Revolution, and the devastating effects of war with Iraq. The intelligent and outspoken only child of committed Marxists and the great-granddaughter of one of Iran’s last emperors, Marjane bears witness to a childhood uniquely entwined with the history of her country.</p>
        <a href="https://www.goodreads.com/book/show/9516.Persepolis">Source</a>
    </div>
</body>
</html>