<!DOCTYPE html>
<style type="text/css">
    .sidebar {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(29, 80, 131)
    }
    .sidebar a{
        padding: auto;
        text-align: left;
        font-size: 30px;
        color: rgb(0, 0, 0);
        display: block;
    }
    .image {
        margin-left: 200px;
        padding: auto;
    }
    .text {
        margin-left: 200px;
        padding-left: 307px;
    }
</style>
<html>
<body>
    <div class="sidebar">
        <a href="/">Home Page</a>
        <a href="books">Books</a>
    </div>
    
    <div class="image">
        <img src="images/shanameh.jpg" align="left" href="shanameh.html"><a href="shanameh.html">The Shahnameh “Book of Kings”</a>
    </div>
    <div class="text">
        <p align="left"> The Shahnameh (“Book of Kings”, composed 977-1010 CE) is a medieval epic written by the poet Abolqasem Ferdowsi (l. c. 940-1020 CE) in order to preserve the myths, legends, history, language, and culture of ancient Persia. It is the longest work by a single author in world literature at a length of 50,000 rhymed couplets, 62 stories, and 990 chapters.</p>
        <a href="https://www.worldhistory.org/shahnameh/">Source</a>
    </div>
</body>
</html>