<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
    <div class="sidebar">
        <a href="/">Home Page</a>
        <a href="books">Books</a>
    </div>
    
    <div class="image">
        <img src="images/shanameh.jpg" align="left"><a href="book2">The Shahnameh “Book of Kings”</a>
    </div>
    <div class="text">
        <p align="left"> The Shahnameh (“Book of Kings”, composed 977-1010 CE) is a medieval epic written by the poet Abolqasem Ferdowsi (l. c. 940-1020 CE) in order to preserve the myths, legends, history, language, and culture of ancient Persia. It is the longest work by a single author in world literature at a length of 50,000 rhymed couplets, 62 stories, and 990 chapters.</p>
        <a href="https://www.worldhistory.org/shahnameh/">Source</a>
    </div>
</body>
</html>