<!DOCTYPE html>
<style type="text/css">
    .sidebar {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(29, 80, 131)
    }
    .sidebar a{
        padding: auto;
        text-align: left;
        font-size: 30px;
        color: rgb(0, 0, 0);
        display: block;
    }
    .survey {
        margin-left: 200px;
        padding: auto;
    }
</style>
<html>
<body>
    <div class="sidebar">
        <a href="index.html">Home Page</a>
        <a href="book-list.html">Books</a>
        <a href="contact-us.html">Contact Us</a>
        <a href="survey.html">Survey</a>
    </div>
    <div class="survey">
        <h1>Survey</h1>
        <form action="/survey.html">
            <p>Name<input type="text" name="name" size="20" maxlength="30"></p>
            <p>Date of Birth<input type="date" name="DoB"></p>
            <p>How likely is it that you reccommend this library to your friends?
                <input type="radio" name="reccommend" value="Very Likely"/>Very Likely
                <input type="radio" name="reccommend" value="Somewhat Likely"/>Somewhat Likely
                <input type="radio" name="reccommend" value="Not Likely"/>Not Likely
            </p>
            <input type="submit" name="Submit" value="Submit"/>
        </form>
    </div>
</body>
</html>