.sidebar {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(29, 80, 131)
    }
.sidebar a{
    padding: auto;
    text-align: left;
    font-size: 30px;
    color: rgb(0, 0, 0);
    display: block;
}
.main {
    margin-left: 200px;
    padding: auto;
}
.image {
    margin-left: 200px;
    padding: auto;
    text-align: center;
}
.text {
    margin-left: 200px;
    padding-left: 307px;
}
img {
    max-width: 100%;
}
.links{
    padding: auto;
}
.container {
    display: flex;
    align-items: center;
    justify-content: center;
}